.btn {
  padding: 10px 26px;
  outline: none;
  border: none;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
}

.btn.lightblue {
  background-color: #38b5ed;
  color: #fff;
  border: none;
}
