.login_box__hero-row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #bbeeae;
}

.login_box__hero-row .col {
  padding: 10px 30px 10px 30px;
  background-color: #8181dd;
  text-align: center;
}

.login_box__hero-row .col .login_box__input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid #e8e9eb;
  border-radius: 4px;

  /* width: 100%; */

  /* max-width: 100%; */
  padding: 0 0 0 0;
}

.box-lightblue {
  border: 3px solid #50b6e3 !important;
  transition: border-color 0.15s ease-in-out;
}

.login_box__input-box-icon {
  padding: 10px;
}

.login_box__input-box-input {
  width: 65%;
}

.login_box__input-box-line {
  padding: 0 10px 0 5px;
  border-left: 1px solid #e8e9eb;
  height: 20px;
}

.login_box__input-box-extra {
  color: #50b6e3;
  font-size: 13px;
  letter-spacing: 0.3px;
  width: 7%;
}

.login_box__input-box-input input {
  outline: none;
  border: none;
  border-radius: 4px;
  line-height: 2.7;
  width: 90%;
}





/*
.login_box__hero-row input:focus {
  outline: none;
  border-color: #50b6e3;
  transition: border-color 0.2s ease-in-out;
} */
